@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply w-full mx-auto p-6 font-jakarta tracking-wide bg-background text-primary;
    }
    header {
        @apply fixed top-10 z-50;
    }
    nav {
      @apply sticky top-[calc(100%-64px)] z-50;
    }
    section {
      @apply flex flex-col items-center min-h-screen;
    }
    h1 {
        @apply font-extrabold text-5xl;
    }
    h2 {
        @apply font-extralight text-4xl;
    }
    h3 {
        @apply font-extralight text-3xl;
    }
    h4 {
        @apply text-xl ml-12 mr-auto mt-6 font-bold tracking-wide sticky top-10;
    }
    p {
        @apply font-light text-xl;
    }
    h5 {
        @apply font-extrabold;
    }
    a:hover {
      @apply text-midgrey trans;
    }
    a:active {
      @apply text-primary trans;
    }
    a:focus {
      @apply text-primary trans;
    }
    textarea {
      @apply h-24;
    }
}

@layer components {
  .stickyNav {
    @apply sticky top-[calc(100%-64px)] z-50;
  }
  .container {
    @apply flex flex-1 min-h-max justify-center items-center mb-20 mt-6;
  }
  .trans {
    @apply transition duration-300 ease-in-out;
  }
  .form {
    @apply mb-4 px-4 rounded-2xl bg-midgrey border-0 ring-0 focus:border-0 focus:ring-0 focus:bg-background placeholder:text-primary;
  }
  .submitButton {
    @apply self-center bg-primary font-normal text-background hover:bg-midgrey hover:text-primary border-[1px] border-primary py-1 px-6 rounded-2xl trans;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #fc019c;
  -webkit-box-shadow: 0 0 0px 1000px #101119 inset;
  transition: background-color 5000s ease-in-out 0s;
}

html {
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Page Transittion */
  .page-enter-from{
    opacity: 0;
    transform: translateY(0);
  }
  
  .page-enter-active,
  .page-leave-active {
    transition: all 0.75s;
  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
  }
