@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply w-full mx-auto p-6 font-jakarta tracking-wide bg-background text-primary;
    }
    header {
        @apply fixed top-6 z-50;
    }
    section {
      @apply flex flex-col items-center min-h-screen;
    }
    h1 {
        @apply font-extrabold text-5xl;
    }
    h2 {
        @apply font-extralight text-4xl;
    }
    h3 {
        @apply font-extralight text-3xl;
    }
    h4 {
        @apply text-xl ml-12 mr-auto mt-6 font-medium tracking-wide sticky top-6;
    }
    p {
        @apply font-light text-xl;
    }
    h5 {
        @apply font-extrabold;
    }
    a:hover {
      @apply font-bold tracking-normal trans;
    }
    a:active {
      @apply font-bold;
    }
    input, textarea {
      @apply rounded-2xl mb-4 p-2 px-4 pb-3 bg-background placeholder:text-primary placeholder:text-sm;
    }
}

@layer components {
  .stickyNav {
    @apply sticky top-[calc(100%-48px)];
  }
  .container {
    @apply flex flex-1 min-h-max justify-center items-center mb-14 mt-6;
  }
  .submitButton {
    @apply self-center bg-background hover:bg-primary font-normal hover:text-background hover:font-bold p-2 px-6 rounded-3xl trans;
  }
  .trans {
    @apply transition duration-300 ease-in-out;
  }
}

html {
    scroll-behavior: smooth;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Page Transittion */
  .page-enter-from{
    opacity: 0;
    transform: translateY(0);
  }
  
  .page-enter-active,
  .page-leave-active {
    transition: all 0.75s;
  }
  .page-enter,
  .page-leave-to {
    opacity: 0;
  }
